
@model StokDataModel.Urun

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="UrunAd" required="" />
    </div>
    <div>
        <label>Kategori Seçiniz</label>
        <input type="text" class="form-control" name="KategoriAd" required="" />
    </div>

    
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fiyat" required="" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" required="" />
    </div>
    <div>
        <label>Stok Adet</label>
        <input type="text" class="form-control" name="Stok" required="" />
    </div>
    <br />
    <button class="btn btn-info">Ürün Ekle</button>

</form>
