
@{
    ViewBag.Title = "MüsteriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<form class="form-group" method="post">
    <div>
        <label>Müsteri Adı</label>
        <input type="text" class="form-control" name="MüsteriAd" required="" />
        <label>Müsteri Soyad</label>
        <input type="text" class="form-control" name="MüsteriSoyad" required="" />

    </div>
    <br />
    <button class="btn btn-info">Müsteri Ekle</button>
</form>



